.video-controller-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 100001;
}
.video-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 6px;
    user-select: none;
}
.video-controller .speed-text {
    min-width: 24px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    user-select: none;
}
.video-controller .control-operation {
    display: flex;
    gap: 4px;
}
.video-controller .control-operation > button {
    min-height: 18px;
    min-width: 18px;
    line-height: 18px;
    border: 0;
    background-color: rgba(100,100,100,0.8);
    color: #ffffff;
    border-radius: 4px;
    user-select: none;
}
.video-controller .control-operation > button:hover {
    background-color: rgba(80,80,80,0.8);
}
.video-controller .control-operation > button:active {
    background-color: rgba(60,60,60,0.8);
}
.video-controller .video-controller-hide {
    display: none;
}
/* 公共隐藏展示方法 */
.hide {
    opacity: 0;
}
.show{
    visibility: visible;
}

.time-list{
    color:white;
    position:absolute;
    left: 0;
    top: 20%;
    max-height: 50%;
    overflow-y: auto;
    list-style: none;
    background-color: rgba(0,0,0,0.5);
    margin-left: 5px;
    z-index: 999;
}
.time-list li {
    margin: 4px 2px;
}
.time-list li button{
    background-color: transparent;
    padding: 4px 4px;
    color:white;
    border: 0;
}
.deletetime{
    display: none;
}
.time-list li:hover .deletetime{
    display: inline-block;
}

.speed-list {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}