.video-controller-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 100001;
}
.video-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 6px;
}
.video-controller .speed-text {
    min-width: 24px;
    text-align: center;
    color: #ffffff;
}
.video-controller .control-operation {
    display: flex;
    gap: 4px;
}
.video-controller .control-operation > button {
    min-height: 18px;
    min-width: 18px;
    border: 0;
    background-color: rgba(100,100,100,0.8);
    color: #ffffff;
    border-radius: 4px;
}